<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail Issue # {{ issueDetail.number }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal" novalidate>
          <div class="form-group row">
            <h1 class="col-sm-10 col-form-label">{{ issueDetail.title }}</h1>
          </div>
          <div class="form-group row">
            <h1 class="col-sm-10 col-form-label">
              <div
                class="badge badge-success"
                *ngIf="issueDetail.state == 'open'"
              >
                {{ issueDetail.state }}
              </div>
              <div
                class="badge badge-danger"
                *ngIf="issueDetail.state == 'closed'"
              >
                {{ issueDetail.state }}
              </div>
            </h1>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <div [innerHTML]="issueDetail.body"></div>
            </div>
            <div class="col-sm-3">
              LABEL

              <div
                class="badge badge-success"
                *ngFor="let label of issueDetail.labels"
              >
                {{ label.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
